@import "./utils/_variables";
@import "./components/_bodymain";
@import "./components/_header";
@import "./components/_navigation";
@import "./components/hero";
@import "./components/modal";
@import "./components/benefit";
@import "./components/photo-blockmain";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/footer-form";
@import "./components/portfolio";
@import "./components/cards-list";
@import "./components/menu-mobile";
