.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
}

.cards-list__card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
}

.cards-list__thumb {
  position: relative;
  overflow: hidden;
}

.cards-list__filling {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .cards-list__card:hover &,
  .cards-list__card:focus & {
    transform: translateY(0);
    opacity: 1;
  }
   @media screen and (max-width: 300px) {
  height: auto;
  }
}

.cards-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
   @media screen and (max-width: 479px) {
font-size: 16px;
}
}

.cards-list__border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
 
}

.cards-list__sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: $main-color;
  text-decoration: none;

  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }
}

.cards-list__filter {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: $basic-text;
  text-decoration: none;
}

.cards-list__item {
  @media screen and (max-width: 479px) {
       width: 100%;
      
    
    & img {
      width: 100%;
      height: auto;
    }


  }
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 404px;

    & img {
      width: 450px;
      height: 294px;
    }

    
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    max-height: 440px;

    & img {
      width: 354px;
      height: 294px;
    }
    
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    max-height: 404px;

    & img {
      width: 370px;
      height: 294px;
    }
    
  }
}
