.clients__header {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;

  @media screen and (min-width: 1600px) {
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;

  @media screen and (max-width: 479px) {
    & .clients__icon {
      width: calc(100% - 2 * 15px);

      width: 100%;
    }
  }

  @media screen and (min-width: 1600px) {
    margin-top: 50px;
  }
}

.clients__icon {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  outline: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
    border: 1px solid #188ce8;
  }

  @media screen and (min-width: 1600px) {
    width: 170px;
  }
}
