.footer {
  background-color: $background-dark;
  padding-top: 60px;
  padding-bottom: 60px;

  & .container {
    display: flex;
    align-items: baseline;
  }
}
.footer__main-block {
  margin-right: 70px;
  width: 231px;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $white-text;
  font-style: normal;
  margin-bottom: 9px;
}
.footer__appeal {
  display: block;
  font-weight: 400;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 9px;
  }
  &:hover,
  &:focus {
    color: #ffffffbe;
  }
}
.footer__header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer__socialmed {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hover-color-blue;
  }
}
