.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transform: scale(100%);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  border-radius: 4px;

  min-width: 200px;
  height: 609px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden &.is-hidden {
    transform: translate(-50%, -50%) scale(0.2);
  }
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $hover-color-blue;
  }
}

.modal-form {
  width: 450px;

  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.modal-form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: $main-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.modal-form__box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  width: 370px;
  height: 58px;
}
.modal-form__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: $basic-text;
}
.modal-form__input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  padding-left: 34px;
  margin-top: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $hover-color-blue;
  }
}

.modal-form__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:hover + &,
  .modal-form__input:focus + & {
    fill: $hover-color-blue;
  }
}
.modal-form__comment {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;

  width: 370px;
}
.modal-form__texarea {
  display: block;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  width: 370px;
  height: 120px;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;

  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}
.modal-form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;

  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $basic-text;
}
.modal-form__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-form__checkbox-icon {
  display: flex;
  align-items: center;

  border-radius: 2px;
  border: #212121 2px solid;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border;
  background-position: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: $hover-color-blue 2px solid;
  }
  .modal-form__checkbox-input:focus + & {
    border: $hover-color-blue 2px solid;
  }
  .modal-form__checkbox-input:checked + & {
    background-color: #188ce8;
    fill: #fff;
    border: none;
  }
}

.modal-form__checkbox-text {
  display: block;
  text-align: center;
}
.modal-form__contract {
  color: $hover-color-blue;
  margin-left: 4px;
}
.modal-form__btn {
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: $hover-color-blue;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: $white-text;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    height: 581px;
  }
  .modal-form {
    width: 528px;
  }
  .modal-form__box,
  .modal-form__comment,
  .modal-form__input,
  .modal-form__texarea {
    width: 448px;
  }
  .modal-form__checkbox-label {
    font-size: 14px;
  }
}
@media screen and (max-width: 440px) {
  .modal {
    min-width: 90%;
    height: auto;
    padding: 20px;
  }

  .modal-form {
    width: 100%;
    padding: 10px;
  }

  .modal-form__box,
  .modal-form__comment,
  .modal-form__input,
  .modal-form__texarea {
    width: 100%;
  }

  .modal-form__input {
    padding-left: 10px;
  }

  .modal-form__texarea {
    padding-left: 10px;
    padding-top: 10px;
  }

  .modal-form__btn {
    width: 100%;
    height: 40px;
  }
  .modal__button {
    top: 15px;
    width: 28px;
    height: 28px;
  }
  .modal-form__checkbox-icon {
    width: 20px;
    height: 16px;
  }
  .modal-form__checkbox-label {
    align-items: flex-start;
  }
}
@media screen and (max-width: 400px) {
  .modal-form__checkbox-label {
    align-items: center;
  }
}
