@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: baseline;
    
  }
  .nav__list {
    display: flex;
    align-items: baseline;
  }
  .nav__item {
    &:not(:first-child) {
      margin-left: 50px;
    }
  }
  .nav__logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-decoration: none;

    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin-right: 87px;
  }

  .nav__page {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $main-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $hover-color-blue;
    }
    &-current {
      position: relative;
    }
    &-current::after {
      content: "";
      display: block;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      background: $hover-color-blue;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
@media screen and (max-width: 479px) {
  .nav__page{
    font-size: 40px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    font-size: 26px;
    margin-right: 93px;
  }
}
 @media screen and (max-width: 300px) {
  .nav{
    width: 100%;
  }
  }
