.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-bottom: 50px;
  margin-bottom: 40px;
  gap: 8px;
}

.filter-list__btn {
  background-color: $background-lite;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  height: 38px;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: $white-text;
    background: $hover-color-blue;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 785px) {
  .filter-list {
    flex-wrap: wrap;
    width: 326px;
    justify-content: start;
  }
}
