.team {
  background-color: $background-lite;
}
.team__item {
  width: 450px;
  height: 622px;

  & img {
    width: 450px;
    height: 460px;
  }
  @media screen and (max-width: 479px) {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2 * 30px);
    height: auto;

    & img {
      width: 100%;
      height: auto;
    }
    & .members {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 536px;

    & img {
      width: 354px;
      height: 374px;
    }
  }

  @media screen and (max-width: 767px) {
    & + .team__item {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 1600px) {
    width: 270px;
    height: 428px;

    & img {
      width: 270px;
      height: 260px;
    }
  }
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1600px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team__list {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.members {
  padding-top: 30px;
  padding-bottom: 24px;
  border-radius: 0 0 4px 4px;
  width: 450px;

  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1600px) {
    width: 270px;
  }
}

.members__name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}
.members__profesion {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: $basic-text;
  text-align: center;
  margin-top: 10px;
}
.members__socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.members__socialmedia-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  outline: none;
  fill: #afb1b8;
  margin-top: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #fff;
    background-color: #188ce8;
  }
}
